@import url("normalize.css");

/* Logo and search form */

.container, form {
  clear: both;
}

.container {
  width: auto;
  height: 400px;
  margin-top: 148px;
}

.container img {
  display: block;
  margin: 0 auto;
  margin-bottom: 26px;
}

form {
  display: block;
  height: 62px;
  margin-top: 17px;
  
}

.search_field {
  width: 584px;
  height: 44px;
  margin: 0 auto;
  border: 1px solid #EAEAEA;
  box-shadow: 0px 1px 1px #CCC;
  border-radius: 3px;
}

input {
  height: 30px;
  width: 400px;
  float: left;
  margin: 6px 0 0 15px;
  border: 0;
}

input:focus {
  outline: none;
}

.keyboard {
  display:block;
  background: url(images/keyboard.png) 0 0 no-repeat;
  width: 24px;
  height: 24px;
  vertical-align: middle;
  float: right;
  margin: 17px 15px 0 0;
}

.voice {
  display: inline-block;
  background: url(images/voice.png) 0 0 no-repeat;
  width: 24px;
  height: 24px;
  background-size: cover;
  vertical-align: middle;
  float: right;
  margin: 10px 15px 0 0;
}

#bot-buttons {
  width: 400px;
  text-align: center;
  margin: 0 auto;
}

div > button {
  display: inline-block;
  clear: none;
  background-color: #f6f6f6;
  padding: 11px 16px;
  border: 1px solid #f6f6f6;
  border-radius: 2px;
  font-weight: bold;
  
  
}

button > a {
  color: #777;
}

#lucky {
  margin: 0 0 0 8px;
}

/* Navigation */

a {
  font-size: 13px;
  font-family: Arial, sans-serif;
  color: #000000de;
  text-decoration: none;
 
}

nav {
  height: 50px;
  position: relative;
}

#topnav-left {
  list-style-type: none;
  position: absolute;
  margin: 0;
  padding: 0;
  top: 8.5px;
  left: 20px;
}

#topnav-right {
  list-style-type: none;
  margin: 0;
  padding: 0;
  position: absolute;
  top: 0;
  right: 25px;
}

nav li {
  display: inline-block;
  text-align: right;
  margin: 15px 7px;
}

/* #post > a, #images > a {
  font-size: 13px;
  font-family: Arial, sans-serif;
  color: #000000de;
  text-decoration: none;
 
} */



#apps {
  width: 30px;
  height: 30px;
  background: url(images/icons.png) -132px -38px;
  vertical-align: middle;
}

#signin {
  background-color: #4285f4;
  padding: 7px 12px;
  border: 1px solid #4285f4;
  border-radius: 2px;
  font-weight: bold;
  color: white;
}

/* Footer */
footer {
  height: 40px;
  width: 100%;
  position: relative;
  background-color: #f2f2f2;
  border-top: 1px solid #e4e4e4;
  
}

#botnav-left {
  list-style-type: none;
  position: absolute;
  margin: 0;
  padding: 0;
  top: 0;
  left: 27px;
}

#botnav-right {
  list-style-type: none;
  margin: 0;
  padding: 0;
  position: absolute;
  top: 0;
  right: 25px;
}

footer li {
  display: inline-block;
  text-align: right;
  margin: 13.5px 13px;
}

footer a {
  color: #5f6368;
}


